.mission {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.name {
  font-size: 16px;
  font-weight: 600;
}

.date {
  color: gray;
}

.description {
  font-size: 12px;
  color: gray;
}

.details {
  width: 100%;
}
